
.load{
    font-family: AngsanaUPC, 'sans-serif';
    font-size: 3.8em;
	text-align: center;
}

.load b:nth-of-type(1){
	animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
}

.load b:nth-of-type(2){
    animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 0.2s;
}

.load b:nth-of-type(3){
    animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 0.4s;
}

.load b:nth-of-type(4){
    animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 0.6s;
}

.load b:nth-of-type(5){
    animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 0.8s;
}

.load b:nth-of-type(6){
    animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}

.load b:nth-of-type(7){
    animation-name: flypoint2;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 1.2s;
}

@keyframes flypoint2 {
    0%  { background: linear-gradient(270deg, black 100%, yellowgreen 0%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	1%  { background: linear-gradient(270deg, black 99%, yellowgreen 1%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	2%  { background: linear-gradient(270deg, black 98%, yellowgreen 2%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	3%  { background: linear-gradient(270deg, black 97%, yellowgreen 3%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	4%  { background: linear-gradient(270deg, black 96%, yellowgreen 4%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	5%  { background: linear-gradient(270deg, black 95%, yellowgreen 5%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	6%  { background: linear-gradient(270deg, black 94%, yellowgreen 6%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	7%  { background: linear-gradient(270deg, black 93%, yellowgreen 7%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	8%  { background: linear-gradient(270deg, black 92%, yellowgreen 8%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	9%  { background: linear-gradient(270deg, black 91%, yellowgreen 9%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	10%  { background: linear-gradient(270deg, black 90%, yellowgreen 10%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	11%  { background: linear-gradient(270deg, black 89%, yellowgreen 11%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	12%  { background: linear-gradient(270deg, black 88%, yellowgreen 12%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	13%  { background: linear-gradient(270deg, black 87%, yellowgreen 13%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	14%  { background: linear-gradient(270deg, black 86%, yellowgreen 14%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	15%  { background: linear-gradient(270deg, black 85%, yellowgreen 15%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	16%  { background: linear-gradient(270deg, black 84%, yellowgreen 16%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	17%  { background: linear-gradient(270deg, black 83%, yellowgreen 17%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	18%  { background: linear-gradient(270deg, black 82%, yellowgreen 18%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	19%  { background: linear-gradient(270deg, black 81%, yellowgreen 19%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	20%  { background: linear-gradient(270deg, black 80%, yellowgreen 20%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	21%  { background: linear-gradient(270deg, black 79%, yellowgreen 21%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	22%  { background: linear-gradient(270deg, black 78%, yellowgreen 22%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	23%  { background: linear-gradient(270deg, black 77%, yellowgreen 23%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	24%  { background: linear-gradient(270deg, black 76%, yellowgreen 24%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    25%  { background: linear-gradient(270deg, black 75%,yellowgreen  25%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	26%  { background: linear-gradient(270deg, black 74%, yellowgreen 26%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	27%  { background: linear-gradient(270deg, black 73%, yellowgreen 27%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	28%  { background: linear-gradient(270deg, black 72%, yellowgreen 28%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	29%  { background: linear-gradient(270deg, black 71%, yellowgreen 29%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	30%  { background: linear-gradient(270deg, black 70%, yellowgreen 30%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	31%  { background: linear-gradient(270deg, black 69%, yellowgreen 31%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	32%  { background: linear-gradient(270deg, black 68%, yellowgreen 32%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	33%  { background: linear-gradient(270deg, black 67%, yellowgreen 33%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	34%  { background: linear-gradient(270deg, black 66%, yellowgreen 34%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	35%  { background: linear-gradient(270deg, black 65%, yellowgreen 35%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	36%  { background: linear-gradient(270deg, black 64%, yellowgreen 36%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	37%  { background: linear-gradient(270deg, black 63%, yellowgreen 37%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	38%  { background: linear-gradient(270deg, black 62%, yellowgreen 38%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	39%  { background: linear-gradient(270deg, black 61%, yellowgreen 39%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	40%  { background: linear-gradient(270deg, black 60%, yellowgreen 40%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	41%  { background: linear-gradient(270deg, black 59%, yellowgreen 41%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	42%  { background: linear-gradient(270deg, black 58%, yellowgreen 42%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	43%  { background: linear-gradient(270deg, black 57%, yellowgreen 43%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	44%  { background: linear-gradient(270deg, black 56%, yellowgreen 44%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    45%  { background: linear-gradient(270deg, black 55%,yellowgreen  45%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	46%  { background: linear-gradient(270deg, black 54%, yellowgreen 46%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	47%  { background: linear-gradient(270deg, black 53%, yellowgreen 47%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	48%  { background: linear-gradient(270deg, black 52%, yellowgreen 48%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	49%  { background: linear-gradient(270deg, black 51%, yellowgreen 49%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    50%  { background: linear-gradient(90deg, yellowgreen 50%,black  50%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	51%  { background: linear-gradient(90deg, yellowgreen 51%,black  49%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	52%  { background: linear-gradient(90deg, yellowgreen 52%,black  48%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	53%  { background: linear-gradient(90deg, yellowgreen 53%,black  47%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	54%  { background: linear-gradient(90deg, yellowgreen 54%,black  46%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	55%  { background: linear-gradient(90deg, yellowgreen 55%,black  45%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	56%  { background: linear-gradient(90deg, yellowgreen 56%,black  44%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	57%  { background: linear-gradient(90deg, yellowgreen 57%,black  43%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	58%  { background: linear-gradient(90deg, yellowgreen 58%,black  42%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	59%  { background: linear-gradient(90deg, yellowgreen 59%,black  41%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	60%  { background: linear-gradient(90deg, yellowgreen 60%,black  40%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	61%  { background: linear-gradient(90deg, yellowgreen 61%,black  39%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	62%  { background: linear-gradient(90deg, yellowgreen 62%,black  38%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	63%  { background: linear-gradient(90deg, yellowgreen 63%,black  37%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	64%  { background: linear-gradient(90deg, yellowgreen 64%,black  36%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	65%  { background: linear-gradient(90deg, yellowgreen 65%,black  35%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	66%  { background: linear-gradient(90deg, yellowgreen 66%,black  34%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	67%  { background: linear-gradient(90deg, yellowgreen 67%,black  33%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	68%  { background: linear-gradient(90deg, yellowgreen 68%,black  32%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	69%  { background: linear-gradient(90deg, yellowgreen 69%,black  31%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	70%  { background: linear-gradient(90deg, yellowgreen 70%,black  30%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	71%  { background: linear-gradient(90deg, yellowgreen 71%,black  29%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	72%  { background: linear-gradient(90deg, yellowgreen 72%,black  28%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	73%  { background: linear-gradient(90deg, yellowgreen 73%,black  27%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	74%  { background: linear-gradient(90deg, yellowgreen 74%,black  26%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    75%  { background: linear-gradient(90deg, yellowgreen 75%,black  25%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	76%  { background: linear-gradient(90deg, yellowgreen 76%,black  24%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	77%  { background: linear-gradient(90deg, yellowgreen 77%,black  23%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	78%  { background: linear-gradient(90deg, yellowgreen 78%,black  22%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	79%  { background: linear-gradient(90deg, yellowgreen 79%,black  21%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	80%  { background: linear-gradient(90deg, yellowgreen 80%,black  20%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	81%  { background: linear-gradient(90deg, yellowgreen 81%,black  19%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	82%  { background: linear-gradient(90deg, yellowgreen 82%,black  18%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	83%  { background: linear-gradient(90deg, yellowgreen 83%,black  17%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	84%  { background: linear-gradient(90deg, yellowgreen 84%,black  16%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	85%  { background: linear-gradient(90deg, yellowgreen 85%,black  15%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	86%  { background: linear-gradient(90deg, yellowgreen 86%,black  14%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	87%  { background: linear-gradient(90deg, yellowgreen 87%,black  13%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	88%  { background: linear-gradient(90deg, yellowgreen 88%,black  12%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	89%  { background: linear-gradient(90deg, yellowgreen 89%,black  11%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	90%  { background: linear-gradient(90deg, yellowgreen 90%,black  10%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	91%  { background: linear-gradient(90deg, yellowgreen 91%,black  9%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	92%  { background: linear-gradient(90deg, yellowgreen 92%,black  8%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	93%  { background: linear-gradient(90deg, yellowgreen 93%,black  7%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	94%  { background: linear-gradient(90deg, yellowgreen 94%,black  6%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    95%  { background: linear-gradient(90deg, yellowgreen 95%,black  5%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	96%  { background: linear-gradient(90deg, yellowgreen 96%,black  4%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	97%  { background: linear-gradient(90deg, yellowgreen 97%,black  3%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	98%  { background: linear-gradient(90deg, yellowgreen 98%,black  2%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
	99%  { background: linear-gradient(90deg, yellowgreen 99%,black  1%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
    100% { background: linear-gradient(90deg, yellowgreen 100%,black  0%);
        -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
}