body{
    font-size: 2em;
    }
.link:nth-child(-n+2) {
    border-right: 5px solid red;


}
a{
    text-decoration: none;
    padding: 0px 30px 0px 20px;
    transition-property:border-bottom;
    transition-duration: .6s;
    transition-timing-function: linear;
}

a:nth-child(-n+2):hover {
    border-right: none;
    padding: 0px 30px 0px 20px;
     border-bottom: 5px solid blue;

}