body{
    font-family: "Baskerville Old Face";
}
.margin{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 3em;
    width: 490px;
    margin: auto;
}

.padding{
    background-color: darkgrey;
    color: black;
    font-size: 1.2em;
    width: 450px;
    padding: 10px 30px 10px 10px;
    margin: auto;
    margin-top: 20px;
}
