table{
    height: 550px;
    width: 718px;
    text-align: center;
    color: #8a99a8;
    font-family: Arial;
    font-weight:600;
    }
#head  {
    height: 30px;
    width: 700px;
    background-color: #e3eaf3;
    text-transform: uppercase;
}
.name {
    text-transform: capitalize;
}

#content .row:nth-of-type(2n+2){
    background-color: #e3eaf3;
}
#content .row:nth-of-type(2n+1){
    background-color: #f2f6fa;
}
#content .row:hover{
    background-color: #e2e5e9;
}
#content .row td:last-of-type{
   text-align: left;

}