.content{
    margin: 100px auto;
    width: 40%;
     color: #2d1465;


}

.header{
    box-shadow: 0 0 10px black;
    background-color: #a92e96;
    width: 50px;
    padding: 1px 1px 1px 4px;
    border: 1px solid blue;
    border-bottom: transparent;
    border-radius: 10px 10px 0 0px

}

.text{
    box-shadow: 0 0 10px black;
    background: #a92e96;
    padding: 10px 10px;
    border-radius: 0px 10px 10px 10px
}
