html,
body {
    margin: 0;
    height: 100%;
    color: #737d98;
    font-family: Proxima Nova Regular, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #2f364a;
    color: white;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    height: 45px;
    font-family: Proxima Nova Regular, sans-serif;
}

.avatar {
    background-image: url("img/avatar.png");
    height: 30px;
    width: 30px;
    background-size: cover;
    position: relative;
    margin: 6% 20px;

}

.point {
    background-image: url("img/point.png");
    height: 10px;
    width: 10px;
    background-size: cover;
    position: relative;
    margin: 12% 10px;
}

.headerbar {
    list-style-type: none;
    margin: 0px 2px;

    text-align: center;
    display: flex;
    flex-direction: row;

}

.headerbar:hover {
    background-color: #15a4fa;
}

.headerbarspan {
    position: relative;
    top: 30%;
}

.small-circle {
    background-image: url("img/small-circle.png");
    height: 5px;
    width: 5px;
    background-size: cover;
    position: relative;
    margin: 12% 10px;

}

.main {
    display: flex;
    overflow-y: hidden;
    flex-basis: 100%;
}

.left-side {
    flex-basis: 14%;
    display: flex;
    background-color: #141824;
    color: #737d98;
    font-family: Proxima Nova Regular, sans-serif;
}

.nav {
    width: 100%;
    margin: 0;
    list-style: none;
}

.add {
    height: 15%;
    background-color: #1f2637;
    text-align: center;
}

.addbook {
    position: relative;
    top: 30%;
    width: 60%;
    height: 40%;
    background-color: #f2795a;
    border: 1px solid #f2795a;
    border-radius: 5px;
    color: white;
    font-family: Proxima Nova Bold, sans-serif;
}

.menunav {
    position: relative;
    background-color: #1f2637;
    margin: 10px 0px 0px 0px;

}

.menunavli {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 6px 0px;

}

.menunavli:hover {
    background-color: #15a4fa;
}

.newReadipng {
    background-image: url("img/nowreading.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0px 20px;
}

.newbrowsepng {
    background-image: url("img/browse.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0px 20px;
}

.newbybookspng {
    background-image: url("img/bybooks.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0px 20px;
}

.newfavoritebookpng {
    background-image: url("img/favoritebooks.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0px 20px;
}

.newwishlistpng {
    background-image: url("img/wishlist.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0px 20px;
}

.newHistorypng {
    background-image: url("img/History.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    margin: 0px 20px;
}

.news li {
    background-color: #1f2637;
    padding: 10px;

}

.news {
    background-color: #1f2637;
    position: relative;
    top: -5px;

}

.news ul li:nth-child(1) {
    color: red; /* Цвет маркеров */
}

.news ul li:nth-child(2) {
    color: #ff9c1a; /* Цвет маркеров */
}

.news ul li:nth-child(3) {
    color: #4bf7ff; /* Цвет маркеров */
}

.news ul li:nth-child(4) {
    color: #c949ff; /* Цвет маркеров */
}

.news ul li span {
    color: #737d98;
    font-family: Proxima Nova Regular, sans-serif;
}

.historylist {
    margin: -10px 0px;
    background-color: #1f2637;
    height: 800px;
    padding: 10% 20px;
}

.timepng {
    background-image: url("img/timecopy.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px 10px;
    height: 30px;
    width: 30px;
}

.timeclass {
    display: flex;
    flex-direction: row;

}

.timeadd {
    margin: 10px 30px;
}

.section {

    display: flex;
    flex-direction: column;
    flex-basis: 86%;

}

.article {
    overflow-y: scroll;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.article__caption {
    color: rgba(105, 93, 93, 0.8);
    text-decoration: overline;
    margin: 30px 0 0 0;
}

.article__content {
    color: #B5B3B3;
}

.footer {
    background-color: #181e2c;
    display: flex;
    flex-basis: 6%;
    flex-shrink: 0;
    justify-content: flex-end;
}

.footer__text {
    margin: auto;
    color: #ccc;
}

.searchpanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 20%;
    background-color: #eef1f7;
    justify-content: space-between;
    border-bottom: 1px solid #838383;
}

.book1 {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.browseBooks1 {
    font-size: 2em;
    padding: 20px 20px 0px 20px;

}

.browseBooks2 {
    margin: 15px;
    display: flex;
    flex-direction: row;

}

hr {
    color: #df4931;
}

input {
    width: 350px;
    height: 20px;
    border-radius: 10px;

    padding: 0px 10px;

    background-image: url(img/search.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 340px; /*Позиционируем*/

}

.category {
    height: 20px;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 0px 5px;
}

.category:hover {
    background-color: #97b3ce;
}

.form {
    margin-left: auto;

}

.namebook {
    margin: 7px 0px 0px 0px;
}

.imgbook1 {
    background-image: url("img/book1.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook2 {
    background-image: url("img/book2.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook3 {
    background-image: url("img/book3.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook4 {
    background-image: url("img/book4.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook5 {
    background-image: url("img/book5.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook6 {
    background-image: url("img/book6.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook7 {
    background-image: url("img/book7.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook8 {
    background-image: url("img/book8.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook9 {
    background-image: url("img/book9.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.imgbook10 {
    background-image: url("img/book10.png");
    height: 275px;
    width: 200px;
    border-radius: 5px;
}

.fa:after {
    color: black;
}

.fa {
    color: #ffab00;

}

.footer .fa {
    color: white;
    padding: 10px;
    background-color: #1f2637;
}

.footer .fa:hover {
    background-color: #15a4fa;
}

.addbook .fa {
    color: white;
}

.colortext {
    color: #677b92;
}