body{
    font-family: sans-serif;
    font-size: 1em;
}

.content{
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    background-color: rgba(247, 252, 255, 0);

    width: 25%;
      border-radius: 1px;
        box-shadow:
            0 0 0 1px #3d42ff,
            0 0 0 9px #2acfd2,
            0 0 0 10px #3d42ff;

}


.header{
    background-color: #fed006;
    font-size: 1.4em;
    width: 95%;
    height: 45px;
    padding: 0px 0px 4px 5%;
}
.eage{
   margin: 0 10%;
    height: 0px;
    width: 0px;
    border: 15px solid transparent;
    border-top-color: #fed006;
}
.text{
    padding: 0px 2px 5px 10px;
    position: relative;
    top:-15px;
    color: #999999;
}
span{
    position: relative;
    top:10px;
}
