h1{	
	color:rgb(0,222,255);
	font-size:52px;
	text-align:right;
	}

#h2text{
  background-color:#4920B9;
  width: 80px;            
  height: 40px;
  margin: 45px;
  padding: 65px; 
  }
.img{
  height: 400px;
  background-image: url(http://newsmir.info/img/p/3/24/232/231551.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align:center;
  
}
h3 {
  background-color: rgba(20,20,20,.6);
  height: 1rem;
  font-style: italic;
}
h5,h6{
	text-align: center;
	color:blue;
	font-family: sans-serif;
	font-variant: bold;
   }
.bigtext{
  font-size: 1.5em;
  font-variant: small-caps;}
.textaling{

text-indent: 20em;
text-align: justify;
 letter-spacing: 10px;
 word-spacing:20px;
 line-height: 20px;}

.storie{
font-size:4em;
text-decoration: underline  overline;
text-align: center;
text-transform: capitalize;
text-shadow: 0 0 30px rgba(0, 120, 200, 1), 0 0 20px rgba(0, 120, 00, 1)}

p.textaling {
  text-indent: 50px;
  
}
a.favorite{
 direction:ltr;}
span {
  vertical-align: super;
}
p.pre {
  white-space: pre;
}
  