.left-side {
    flex-basis: 200px;
    display: flex;
    background-color: #141824;
    color: #737d98;
    font-family: Proxima Nova Regular, sans-serif;
}

.nav {
    width: 200px;
    margin: 0;
    list-style: none;
}

.add {
    height: 113px;
    background-color: #1f2637;
    text-align: center;
}

.addbook .fa {
    margin: 12px 6px;
    color: white;
    position: relative;
    left: -10px;
    font-size: 16px;
    top:1px;
}
.addbook {
    position: relative;
    top: 35px;
    width: 160px;
    height: 44px;
    background-color: #f2795a;
    border: 1px solid #f2795a;
    border-radius: 5px;
    color: white;
    font-family: Proxima Nova Bold, sans-serif;

}

.menunav {
    position: relative;
    background-color: #1f2637;
    margin: 5px 0px 0px 0px;
    height: 240px;

}
.menunavli:nth-child(1){
    padding: 14px 0px;
}
.menunavli {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 200px;
    text-align: center;
    padding: 11px 1px;
    font-size: 13px;

}
.menunavli .fa{
    color:  #6f7892;
    font-size: 15px;
    margin: 0px 10px 0px 20px ;

}

.menunavli:hover {
    background-color: #15a4fa;
    color: #f4faff ;
}
.menunavli:hover .fa{
    color: #f4faff;
}



.news li {
    background-color: #1f2637;
    padding: 8px 0px;

}

.news {
    padding: 4px 0px;
    background-color: #1f2637;
    position: relative;
    height: 173px;
    top: 5px ;
    font-size: 13px;

}

.news ul li:nth-child(1) {
    color: #e64c66; /* Цвет маркеров */
  font-size: 20px;
}

.news ul li:nth-child(2) {
    color: #ffab00; /* Цвет маркеров */
    font-size: 20px;
}

.news ul li:nth-child(3) {
    color: #00bfdd; /* Цвет маркеров */
    font-size: 20px;
}

.news ul li:nth-child(4) {
    color: #7874cf; /* Цвет маркеров */
    font-size: 20px;
}

.news ul li span {
    color: #737d98;
    font-size: 13px;
    font-family: Proxima Nova Regular, sans-serif;
}

.historylist {
    background-color: #1f2637;
    height: 400px;
    font-size: 11px;
    margin: 10px 0px;
    line-height:18px;
}

.timeclass {
    display: flex;
    padding: 35px 15px;

}
.timeclass2 {
    display: flex;
    padding: 0px 15px;
    position: relative;
    top:-17px;

}
.timeadd {
     position: relative;
     top:-37px;
     left: 45px;
    color: #6f7892;
 }
.timeadd2 {
    position: relative;
    top:-19px;
    left: 45px;
    color: #6f7892;
}

.timeclass .fa{
    color: #6f7892;
    font-size: 15px;
    margin: 5px  7px;
}
.timeclass2 .fa{
    color: #6f7892;
    font-size: 15px;
    margin: 5px  7px;
}

