.left-side {
    flex-basis: 200px;
    display: flex;
    background-color: #141824;
    color: #737d98;
    font-family: Proxima Nova Regular, sans-serif;
}

.nav {
    width: 200px;
    margin: 0;
    list-style: none;
}

.add {
    height: 120px;
    background-color: #1f2637;
    text-align: center;
}

.addbook {
    position: relative;
    top: 40px;
    width: 160px;
    height: 44px;
    background-color: #f2795a;
    border: 1px solid #f2795a;
    border-radius: 5px;
    color: white;
    font-family: Proxima Nova Bold, sans-serif;
}

.menunav {
    position: relative;
    background-color: #1f2637;
    margin: 8px 0px 0px 0px;
    height: 204px;

}
.menunavli:nth-child(1){
    padding: 10px 0px;
}
.menunavli {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 200px;
    text-align: center;
    padding: 6px 0px;

}
.menunavli .fa{
    color:  #6f7892;
    font-size: 20px;
    margin: 0px 20px;

}

.menunavli:hover {
    background-color: #15a4fa;
    color: #f4faff ;
}
.menunavli:hover .fa{
    color: #f4faff;
}



.news li {
    background-color: #1f2637;
    padding: 5px;

}

.news {
    padding: 5px 0px;
    background-color: #1f2637;
    position: relative;
    height: 153px;
    top: 8px ;
    font-size: 13px;

}

.news ul li:nth-child(1) {
    color: #e64c66; /* Цвет маркеров */
  font-size: 20px;
}

.news ul li:nth-child(2) {
    color: #ffab00; /* Цвет маркеров */
    font-size: 20px;
}

.news ul li:nth-child(3) {
    color: #00bfdd; /* Цвет маркеров */
    font-size: 20px;
}

.news ul li:nth-child(4) {
    color: #7874cf; /* Цвет маркеров */
    font-size: 20px;
}

.news ul li span {
    color: #737d98;
    font-size: 13px;
    font-family: Proxima Nova Regular, sans-serif;
}

.historylist {
    background-color: #1f2637;
    height: 400px;
    padding: 40px 10px;
    font-size: 12px;
    margin: 15px 0px;
}


.timeclass {
    display: flex;
    flex-direction: row;

}

.timeadd {
    margin: 10px 30px;
}
.addbook .fa {
    padding: 5px;
    color: white;
}
.timeclass .fa{
    color: #6f7892;
    font-size: 20px;
    margin: 0 8px;
}
