html,
 body {
     margin: 0;
     height: 100%;
     color: #737d98;
     font-family: Proxima Nova Regular, sans-serif;
 }

.container {
    display: flex;
    flex-direction: column;
}

.fa {
    color: #ffab00;
}


.colortext {
    color: #677b92;
}

.browseBooks1 {
    height: 100px;

}

.browseBooks2 {
    height: 200px;

}
::-webkit-scrollbar {
    width: 8px;
    height: 350px;

}


::-webkit-scrollbar-track {

    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #ccd5e4;
    position: relative;


}