#contain{
    width: 300px;
    margin: 100px auto;
}




#circle{
    background-color: red;
    height: 30px;
    width: 30px;
    position: relative;
    top: 400px;
    left: 140px;
    border-radius: 30px;
    animation-name: mycircle;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}



#blok1{
    background-color: green;
    height: 20px;
    width: 300px;
    position: fixed;
    animation-name: myblock;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}


#blok2{
    background-color: black;
    height: 20px;
    width: 300px;
    margin: 400px 0px;
    position: fixed;
    animation-name: myblock;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 2s;


}


@keyframes mycircle {
    0% {top:20px;}
    50% {top:400px;}
    100%{top:20px}
}

@keyframes myblock {
    0% {background-color: crimson}
    5% {background-color: black }
    100%{background-color: black}
}

