.flexh1{

    position: relative;

}
li{
    list-style: none;
}
.flexblok{


    display: flex;
    justify-content: center;


}
.fleximg1,.fleximg2{
    background-image: url("img/th1.png");
    height: 310px;
    width: 280px;
    border: 15px solid rgb(253, 253, 255);
    background-size: cover;
    box-shadow:   0 0 0 1px #5e5e5e;
    border-radius: 4px;


}
.fleximg3{
    background-image: url("img/th1.png");
    height: 310px;
    width: 280px;
    border: 15px solid rgb(253, 253, 255);
    background-size: cover;
    box-shadow:   0 0 0 1px #5e5e5e;
    border-radius: 4px;


}

.buttonflex{
    display: flex;
    flex-direction: column;

}
.flexbutton{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.fonflex1{
    width: 280px;
    height: 310px;
    position: absolute;
    margin: 0px;
    background-color: rgba(40, 0, 0, 0.5);
    text-align: center;
    z-index: -20;
}

.fonflex2{
    width: 280px;
    height: 310px;
    position: absolute;
    margin: 0px;
    background-color: rgba(40, 0, 0, 0.5);
    text-align: center;
    z-index: -20;
}

.fonflex3{
    width: 280px;
    height: 310px;
    position: absolute;
    margin: 0px;
    background-color: rgba(40, 0, 0, 0.5);
    text-align: center;
    z-index: -20;
}
.fleximg1:hover .fonflex1{
    z-index: 20;
}
.fleximg2:hover .fonflex2{
    z-index: 20;
}
.fleximg2:hover .fonflex2{
    z-index: 20;
}
.flexblok2{

    display: flex;
    justify-content: center;
    margin: -30px 0px;
}
.byflex{
    color: #B5B3B3;
}