.index{
	border: 2px solid green;
	text-align: center;
	font-size: 15px;
	width:100%;
	background-color: #B8D4EC;
}
.pages{
	border: 2px solid green;
	text-align: center;
	width:100%;
	background-color: #B8D4EC;
	
}